appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
black==19.10b0
Click==7.0
cycler==0.10.0
isort==4.3.9
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
mysql-connector-python==8.0.18
numpy==1.17.4
pandas==0.25.3
pathspec==0.6.0
patsy==0.5.1
pkg-resources==0.0.0
protobuf==3.11.2
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2018.9
regex==2019.12.20
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
six==1.13.0
sklearn==0.0
statsmodels==0.10.2
toml==0.10.0
typed-ast==1.4.0
wrapt==1.11.1
